<div class="offcanvas offcanvas-start" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="list-group">
        <a routerLink="/pedidos" [routerLinkActive]="['router-link-active']" class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
            <i class="fas fa-fw fa-file"></i>
            <span>{{ 'Pedidos' }}</span>
        </a>
        <a routerLink="/productos" [routerLinkActive]="['router-link-active']" class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
            <i class="fas fa-fw fa-box"></i>
            <span>{{ 'Productos' }}</span>
        </a>
        <a routerLink="/clientes" [routerLinkActive]="['router-link-active']" class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
            <i class="fas fa-fw fa-user"></i>
            <span>{{ 'Clientes' }}</span>
        </a>
    </div>
</div>