<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ps-5 pe-5">
        <div class="navbar-nav d-inline">
            <button class="btn btn-dark me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
              <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand align-middle" href="#">
                <img src="./assets/images/logo.svg" width="32" height="32" class="d-inline-block align-text-top"> Pedidos App
            </a>
        </div>
    </div>
</nav>