USE [master]
GO

CREATE DATABASE [PEDIDOS_DB]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PEDIDOS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PEDIDOS_DB]
GO
/****** Object:  UserDefinedTableType [dbo].[PEDIDO_DETALLE_TYPE] ******/
CREATE TYPE [dbo].[PEDIDO_DETALLE_TYPE] AS TABLE(
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [decimal](18, 2) NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[CLIENTE] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
	[MONEDA_ENUM] [nvarchar](20) NULL,
	[FECHA_EMISION] [date] NULL,
	[FECHA_REGISTRO] [datetime] NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_DETALLE] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_DETALLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [decimal](18, 2) NOT NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PEDIDO_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[PRECIO_UNITARIO] [decimal](18, 2) NULL,
	[MONEDA_ENUM] [nvarchar](20) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[INS_PEDIDO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INS_PEDIDO](
	@ID_CLIENTE INT,
	@TOTAL DECIMAL(18,2),
	@MONEDA_ENUM NVARCHAR(20),
	@FECHA_EMISION DATE,
	@DETALLE PEDIDO_DETALLE_TYPE READONLY
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN TRANSAC_SQL;

		DECLARE @ID_PEDIDO INT

		INSERT INTO PEDIDO
           (ID_CLIENTE
           ,TOTAL
           ,MONEDA_ENUM
           ,FECHA_EMISION
           ,FECHA_REGISTRO)
		   VALUES
           (@ID_CLIENTE
           ,@TOTAL
           ,@MONEDA_ENUM
           ,@FECHA_EMISION
           ,GETDATE())
		SET @ID_PEDIDO = (SELECT  SCOPE_IDENTITY())
		
		INSERT INTO PEDIDO_DETALLE(ID_PEDIDO, ID_PRODUCTO, CANTIDAD, PRECIO_UNITARIO)
		SELECT @ID_PEDIDO, ID_PRODUCTO, CANTIDAD, PRECIO_UNITARIO FROM @DETALLE
		
		COMMIT TRAN TRANSAC_SQL
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN TRANSAC_SQL;
		THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SEL_CLIENTE_SEARCH] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SEL_CLIENTE_SEARCH]
(
	@NOMBRE NVARCHAR(50)
)AS
BEGIN
	SET NOCOUNT ON
	
	SELECT 
	 p.ID
	,p.NOMBRE
	FROM CLIENTE p
	WHERE p.NOMBRE LIKE '%'+ @NOMBRE + '%'
	
	SET NOCOUNT  OFF
END
GO
/****** Object:  StoredProcedure [dbo].[SEL_PEDIDO_SEARCH] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SEL_PEDIDO_SEARCH]
(
	@FECHA_EMISION DATE = NULL
)AS
BEGIN
	SET NOCOUNT ON
	
	SELECT 
	 pe.ID
	,cl.NOMBRE AS CLIENTE
	,pe.TOTAL
	,CASE pe.MONEDA_ENUM WHEN '1' THEN 'PEN' WHEN '2' THEN 'USD' END AS MONEDA
	,pe.FECHA_EMISION
	FROM PEDIDO pe
	INNER JOIN CLIENTE cl ON pe.ID_CLIENTE = cl.ID
	WHERE FECHA_EMISION LIKE (CASE WHEN @FECHA_EMISION IS NULL THEN '%' ELSE CONVERT(VARCHAR, @FECHA_EMISION) END)
	
	SET NOCOUNT  OFF
END
GO
/****** Object:  StoredProcedure [dbo].[SEL_PRODUCTO_SEARCH] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SEL_PRODUCTO_SEARCH]
(
	@NOMBRE NVARCHAR(50)
)AS
BEGIN
	SET NOCOUNT ON
	
	SELECT 
	 p.ID
	,p.NOMBRE
	,p.PRECIO_UNITARIO
	,CASE p.MONEDA_ENUM WHEN '1' THEN 'PEN' WHEN '2' THEN 'USD' END AS MONEDA
	FROM PRODUCTO p
	WHERE p.NOMBRE LIKE '%'+ @NOMBRE + '%'
	
	SET NOCOUNT  OFF
END
GO
/****** Object:  StoredProcedure [dbo].[UPD_PEDIDO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_PEDIDO](
	@ID INT,
	@ID_CLIENTE INT,
	@TOTAL DECIMAL(18,2),
	@MONEDA_ENUM NVARCHAR(20),
	@FECHA_EMISION DATE,
	@DETALLE PEDIDO_DETALLE_TYPE READONLY
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRAN TRANSAC_SQL;

		UPDATE PEDIDO
		   SET ID_CLIENTE = @ID_CLIENTE
			  ,TOTAL = @TOTAL
			  ,MONEDA_ENUM = @MONEDA_ENUM
			  ,FECHA_EMISION = @FECHA_EMISION
		WHERE ID = @ID

		DELETE FROM PEDIDO_DETALLE
		WHERE ID_PEDIDO = @ID

		
		INSERT INTO PEDIDO_DETALLE(ID_PEDIDO, ID_PRODUCTO, CANTIDAD, PRECIO_UNITARIO)
		SELECT @ID, ID_PRODUCTO, CANTIDAD, PRECIO_UNITARIO FROM @DETALLE
		
		COMMIT TRAN TRANSAC_SQL
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN TRANSAC_SQL;
		THROW
	END CATCH
END
GO
USE [master]
GO
