.cross-validation-error .input-error {
    border-left: 5px solid red;
    border-color: red;
}

.cross-validation-error .input-error:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
    border-color: red;
}

.card-header {
    background-color: #0d6efd;
    color: white;
    font-size: large;
}


/*selected row table*/

.table tr.active {
    background-color: #ffeaac !important;
    color: black;
}

.loading {
    height: 150px;
    width: 100%;
    position: relative;
}